.Notif {
    background-color: $NotifBgColor;
    border-radius: 100%;
    font-size: 14px;
    font-weight: 600;
    color: $colorWhite;
    padding: 1px 6px;

    position: absolute;
    z-index: $NotifZindex;
    top: 10%;
    left: 50%;
}
