//$transitionTime: 0.3s;
$textColor: black;
$textInfoColor: #5c6370;

$iconBG: #f9f9fb;
$avatarBG: #d7f5ff;

// $phoneSize: 400px;
// $phabletSize: 560px;
// $phoneWideSize: 480px;
// $tabletSmallSize: 640px;
// $tabletSize: 768px;
// $tabletWideSize: 1024px;
