$transitionTime: 0.3s;

$textColorBlack: black;
$colorWhite: white;

$textInfoColor: #5c6370;

$iconBG: #f9f9fb;

$toggleBgColor: #ebeff2;
$toggleShadow: 0px 0px 6px rgba(25, 42, 49, 0.25);
$toggleTransitionTime: transform 0.2s ease-out 0s;

$BtnColor: #ff6900;

$NotifBgColor: #ff6900;
$navHover: #ff6900;
$cartBgColor: #ff6900;

$NotifZindex: 8;

$footerBG: #ebeff2;
$footerColor: #ff6900;

$modalDropShadow: drop-shadow(0px 4px 9px rgba(45, 65, 84, 0.3));
$modalLineColor: #ff6900;

// $phoneSize: 400px;
// $phabletSize: 560px;
// $phoneWideSize: 480px;
// $tabletSmallSize: 640px;
// $tabletSize: 768px;
// $tabletWideSize: 1024px;
