.Person {
    $heightBase: 55px;

    display: flex;
    align-items: center;

    &-bell {
        position: relative;
        @include refHoverUp;

        &__icon {
            position: relative;
            width: $heightBase;
            height: $heightBase;
            background-color: $iconBG;
            padding: 13px;
            border-radius: 50%;
        }
    }

    &-user {
        display: flex;
        align-items: center;
        @include refHoverUp;
    }

    &-avatar {
        width: $heightBase;
        height: $heightBase;
        background-color: $avatarBG;
        padding: 10px;
        border-radius: 50%;
        margin-left: 20px;

        &__img {
            height: 100%;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        &__name {
            text-transform: capitalize;
            font-weight: 600;
        }
        &__status {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 300;
            color: $textInfoColor;
            margin-top: 5px;
        }
    }
    &-arrowDown {
        width: 15px;
        margin-left: 15px;
    }
}
