.CartModal {
	padding: 15px;
	border-radius: 5px;
	width: 300px;

	&-total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
		&__btn {
			border: 2px solid $BtnColor;

			padding: 4px 25px;

			border-radius: 20px;
			background-color: $colorWhite;
			color: $BtnColor;
			font-weight: 300;
			@include refHoverUp;
		}
	}
}
