.Nav {
	&-list {
		display: flex;
		flex-direction: row;

		&__item:not(:first-child) {
			margin-left: 30px;
		}

		&--vertical {
			flex-direction: column;
		}

		&--vertical &__item {
			margin-left: 0px;
			margin-top: 10px;
		}
	}
	&-ref {
		color: $textColorBlack;
		text-transform: capitalize;
		display: block;
		@include refHoverUp;

		&:hover {
			color: $navHover;
		}
	}

	&-list--vertical &-ref {
		&:hover {
			transform: none;
		}
	}
}
